<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Инженерный электронный конструктор. Блог</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!--<meta name="viewport" content="width=480, maximum-scale=1.0"/>-->
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
        (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

        ym(53398243, "init", {
            clickmap:true,
            trackLinks:true,
            accurateTrackBounce:true,
            webvisor:true
        });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/53398243" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143275849-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-143275849-1');
    </script>
</head>

<body>
@import "header.html"

<div class="content-page-blog page">
    <section class="blog-section">
        <div class="container">
            <h2>Наш блог</h2>

            <div class="blog-section__content blog-section__content-page-blog">
                <div class="blog-section__box blog-section__box-max">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/bg1.png" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Скоро в продаже появится новая серия Creacity из
                                                                балдежных деревяг</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>

                <div class="wrapper-min">

                    <div class="blog-section__box blog-section__box-min">
                        <a href="#modalBlog" class="image open_modal">
                            <img src="img/blog1.jpeg" alt="">

                            <div class="date bg-blue">
                                <p>21</p>
                                <span>мая</span>
                            </div>

                        </a>
                        <div class="blog-title">
                            <a href="#modalBlog" class="open_moda">Синяя штука Arduino это круто, две такие штуки еще круче, а три - можно
                                        улететь</a>

                            <span class="view">153</span>
                            <span class="time">5 мин.</span>
                        </div>
                    </div>

                    <div class="blog-section__box blog-section__box-min">
                        <a href="#modalBlog" class="image open_modal">
                            <img src="img/6.png" alt="">

                            <div class="date bg-blue">
                                <p>21</p>
                                <span>мая</span>
                            </div>

                        </a>
                        <div class="blog-title">
                            <a href="#modalBlog" class="open_modal">Внутри дома так красиво и уютно, жил бы там всю жизнь</a>

                            <span class="view">153</span>
                            <span class="time">5 мин.</span>
                        </div>
                    </div>
                </div>

                <div class="blog-section__box blog-section__box-min">
                    <a href="modalBlog#" class="image open_modal">
                        <img src="img/6.png" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Внутри дома так красиво и уютно, жил бы там всю жизнь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>
                <div class="blog-section__box blog-section__box-min">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/blog1.jpeg" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Синяя штука Arduino это круто, две такие штуки еще круче, а три - можно
                                    улететь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>
                <div class="blog-section__box blog-section__box-min">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/blog1.jpeg" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Синяя штука Arduino это круто, две такие штуки еще круче, а три - можно
                                    улететь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>
                <div class="blog-section__box blog-section__box-min">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/6.png" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Внутри дома так красиво и уютно, жил бы там всю жизнь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>
                <div class="blog-section__box blog-section__box-min">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/blog1.jpeg" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Синяя штука Arduino это круто, две такие штуки еще круче, а три - можно
                                    улететь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>
                <div class="blog-section__box blog-section__box-min">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/blog1.jpeg" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Синяя штука Arduino это круто, две такие штуки еще круче, а три - можно
                                    улететь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>
                <div class="blog-section__box blog-section__box-min">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/6.png" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Внутри дома так красиво и уютно, жил бы там всю жизнь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>
                <div class="blog-section__box blog-section__box-min">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/blog1.jpeg" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Синяя штука Arduino это круто, две такие штуки еще круче, а три - можно
                                    улететь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>
                <div class="blog-section__box blog-section__box-min">
                    <a href="#modalBlog" class="image open_modal">
                        <img src="img/blog1.jpeg" alt="">

                        <div class="date bg-blue">
                            <p>21</p>
                            <span>мая</span>
                        </div>

                    </a>
                    <div class="blog-title">
                        <a href="#modalBlog" class="open_modal">Синяя штука Arduino это круто, две такие штуки еще круче, а три - можно
                                    улететь</a>

                        <span class="view">153</span>
                        <span class="time">5 мин.</span>
                    </div>
                </div>

            </div>

            <a href="#" class="btn btn-blue btn-load">Смотреть больше</a>
        </div>
    </section>

    <section class="updates-view">
        <div class="container">
            <div class="left">
                <h2>Следи за обновлениями, узнавай фишки первым</h2>
                <ul class="list-social">
                    <li><a href="https://vk.com/mycreacity" target="_blank"><img src="img/vk.svg" alt=""></a></li>
                    <li><a href="https://www.instagram.com/mycreacity" target="_blank"><img src="img/inst.svg" alt=""></a></li>
                    <li><a href="https://www.youtube.com/channel" target="_blank"><img src="img/youtube.svg" alt=""></a></li>
                </ul>
            </div>

            <div class="image"><img src="img/iphone.png" alt=""></div>
        </div>
    </section>

</div>

@import "footer.html"


<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/rellax.min.js"></script>
<script src="js/common.js"></script>
</body>
</html>
